<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        <!-- Google font-->
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap">

        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">

    {% endblock %}

    {% block javascripts %}


        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
<!-- page-wrapper Start-->
<div class="page-wrapper">

    <!-- Page Header Start-->
    {{ include('layout/_header.html.twig') }}
    <!-- Page Header Ends -->

    <!-- Page Body Start-->
    <div class="page-body-wrapper">

        <!-- Page Sidebar Start-->
        {{ include('layout/_sidebar.html.twig') }}
        <!-- Page Sidebar Ends-->
        <div class="page-body">
            <!-- Container-fluid starts-->
            {{ include('layout/_page_header.html.twig') }}
            <!-- Container-fluid Ends-->
            <!-- Container-fluid starts-->
            <div class="container-fluid">
                {% block content %}{% endblock %}
            </div>
            <!-- Container-fluid Ends-->
        </div>
        <!-- footer start-->
        {{ include('layout/_footer.html.twig') }}
        <!-- footer end-->
    </div>
</div>

<div class="bottom-space"></div>
<!-- latest jquery-->
<script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>

<!-- Bootstrap js-->
<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>

<!-- feather icon js-->
<script src="{{ asset('js/icons/feather-icon/feather.min.js') }}"></script>
<script src="{{ asset('js/icons/feather-icon/feather-icon.js') }}"></script>

<!-- Sidebar jquery-->
<script src="{{ asset('js/sidebar-menu.js') }}"></script>

<!--chartist js-->
<script src="{{ asset('js/chart/chartist/chartist.js') }}"></script>

<!--chartjs js-->
<script src="{{ asset('js/chart/chartjs/chart.min.js') }}"></script>

<!-- lazyload js-->
<script src="{{ asset('js/lazysizes.min.js') }}"></script>

<!--copycode js-->
<script src="{{ asset('js/prism/prism.min.js') }}"></script>
<script src="{{ asset('js/clipboard/clipboard.min.js') }}"></script>
<script src="{{ asset('js/custom-card/custom-card.js') }}"></script>

<!--counter js-->
<script src="{{ asset('js/counter/jquery.waypoints.min.js') }}"></script>
<script src="{{ asset('js/counter/jquery.counterup.min.js') }}"></script>
<script src="{{ asset('js/counter/counter-custom.js') }}"></script>

<!--peity chart js-->
<script src="{{ asset('js/chart/peity-chart/peity.jquery.js') }}"></script>

<!-- Apex Chart Js -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<!--sparkline chart js-->
<script src="{{ asset('js/chart/sparkline/sparkline.js') }}"></script>

<!--Customizer admin-->
{#<script src="{{ asset('js/admin-customizer.js') }}"></script>#}

<!--dashboard custom js-->
<script src="{{ asset('js/dashboard/default.js') }}"></script>

<!--right sidebar js-->
<script src="{{ asset('js/chat-menu.js') }}"></script>

<!--height equal js-->
<script src="{{ asset('js/height-equal.js') }}"></script>

<!-- lazyload js-->
<script src="{{ asset('js/lazysizes.min.js') }}"></script>

<!--script admin-->
<script src="{{ asset('js/admin-script.js') }}"></script>
</body>
</html>
